.DS_Store
*.swp
*.lock
profile
*~.nib
xcuserdata
*.ipynb

GeospatialDataVisualisationTool/examples/*
GeospatialDataVisualisationTool/dependencies/GLEW/*
GeospatialDataVisualisationTool/dependencies/GLFW/*
GeospatialDataVisualisationTool/src/vendor/imgui/*
GeospatialDataVisualisationTool/src/vendor/glm/*
GeospatialDataVisualisationTool/imgui.ini

GeospatialDataVisualisationTool/res/fonts/roboto/*
GeospatialDataVisualisationTool/res/data/regions.db
GeospatialDataVisualisationTool/res/data/kunnat_ja_kuntapohjaiset_alueet_2021_suomeksi_ruotsiksi_englanniksi.csv
